ul {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2A2B2B;
    font:12pt/1.2em 'Georgia','Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    color: #303030; /* generic gray */
}

.content {
    padding: 1em 1em 1em 1em;
}

.list-image {
    padding: 0 0 1em 1em;
}

#side {
    padding: 0 1em 1em 1em;
}

p.option {
    padding: 0; margin: 0;
}

a {

    color:#556270; /* blue slate */
    color: #015288;
    text-decoration: none;
}

a:hover {
    color:#E03838; /* red */
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	margin-bottom:0.3em;
}


h1{
	color:#242424; /* happy black */
	font-size:3em;
	font-style:normal;
	line-height:1.2em;
}

h2{
	color:#242424; /* happy black */
	font-size:2em;
	line-height:1.2em;
}

h3{
	color:#242424; /* happy black */
	font-size:1.5em;
	margin-top:0.5em;
	line-height:1.2em;
}

h4 {
    font-size:1.1em;
}

#container {
    background-color: white;
    overflow: hidden;
}

.separator {
    margin-bottom: 1em;
}

#menu {
    padding: 1em 0 2em 0.7em;
    font-size: 13pt;
    line-height: 1.5em;
}

#menu a {
    color: #2A2B2B;
}

#menu ul, #menu p {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
}

#menu ul {
    list-style: none;
	padding-left: 1em;
	font-weight: bold;
}

#menu li {
    font-weight: normal;
    margin-left: 0.0em;
}

#selected {
    background-color: #DEFCF9;
}

#logo {
    padding: 3em 0 0.5em 2.7em;
}

.full-width {
    width: 100%;
}

.list-image img {
    width: 130px;
}

.card-list {
    margin: 0.7em 0;
}

.card-list ul.deck {
        line-height: 1.2em;
        list-style-type:none;
    }

        .card-list ul.deck li {
            margin: 0 0 4px 0;
        }

        .card-list ul.deck li input {
            text-align:center;
            border-width: 0 0 1px 0;
            border-style:solid;
            border-color:#333;
            font-weight: bold;
            font-size:8pt;
            width:18px;
        }

        .card-list ul.deck li img {
            width:13px;
            height:13px;
        }

        .card-list ul.deck li a {
            color:#242424; /* happy black */
        }


input.text, textarea.text {
    width: 100%;
}



/* SORRY !! */

#controls {}

    #controls input.button {
        width:100%;
    }

#colours-chooser {}

    #colours-chooser p.option {
        margin:0;
    }

#card-information {
    
}

    #card-information img.card {
        width: 250px;
        height: 357px;
    }

#card-search {

}

    #card-search input#search-input {
        width:300px;
    }

    #card-search input#findadd-button {
        width:110px;
    }

#search-form {
    border-color:#ddd; /* corn yellow */
}

    #search-form input#search-input {
        width:200px;
    }

    #search-form input#search-submit {
        width:85px;
    }

#main-deck {

}

    #main-deck ul.deck {
        list-style-type:none;
    }

        #main-deck ul.deck li {
            margin: 0 0 4px 0;
        }

        #main-deck ul.deck li input {
            width:18px;
        }

        #main-deck ul.deck li img {
            width:13px;
            height:13px;
        }

        #main-deck ul.deck li a {
            color:#242424; /* happy black */
        }

div#suggestion-area {
    position:absolute;
    width:250px;
    background-color:#eee;
    border:1px solid #242424; /* happy black */
    margin:0;
    padding:0;
}

    div#suggestion-area ul {
        list-style-type:none;
        margin:0;
        padding:0;
    }

    div#suggestion-area ul li.selected {
        background-color:#B9D7D9; /* sky blue */
    }

    div#suggestion-area ul li {
        list-style-type:none;
        display:block;
        margin:0;
        padding:2px;
        cursor:pointer;
    }

h1.center, h2.center, h3.center, h4.center, h5.center, p.center, div.center {
    text-align:center;
}

.price {
    color:#999999; font-weight:bold;
}

.page-select {
    margin: 1em 0;
}